<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.hnb.mapper.MovieMapper">
 <select id="selectAll" resultType="com.hnb.movie.MovieVO">
 	SELECT
 	FILM_NUMBER AS filmNumber,
 	FILM_NAME AS filmName,
 	DIRECTOR AS director,
 	ACTOR AS actor,
 	RATE AS rate,
 	RUNTIME AS runtime,
 	PRICE AS price,
 	GENRE AS genre,
 	RELEASE_DATE AS releaseDate,
 	END_DATE AS endDate,
 	STORY AS story,
 	CUT AS cut,
 	TRAILER AS trailer,
 	COUNTRY AS country 
 	FROM MOVIE
 </select>
 </mapper>